<div class="span-22 prepend-1 append-1 last" id="second">
<% @page_title = 'Assignments' %>
<h2>Assignments</h2>
</div>

<%= render :partial => 'shared/assignments', :locals => {:assignments => @assignments} %>

<div>
  <%= will_paginate @assignments %>
</div>
